*{
    background-color: blanchedalmond;
}


.title{
    color: brown;
    text-align: center;
    font-weight: bold;
}

.mam{
    color: darkmagenta;
}

.namtag{
    color: blueviolet;
    font-size: large;
}